.center{
  text-align: center;
  margin-top: 5%;
}
.botonHome{
  margin-top: 5px;
  margin-left: 5px;
    border: none;
    border-radius: 15px;
    font-family: 'Cookie', cursive;
    padding-left: 10px;/* agrando el button hacia la izquierda  */
    padding-right: 10px; /* agrando el button hacia la derecha */
    padding-top: 5px; /*agrando el button hacia arriba  */
    padding-bottom: 5px; /* agrando el button hacia abajo */
    background-color: rgba(41, 74, 219, 0.842);
    cursor: pointer;
}
.botonHome:hover{
    background-color: rgba(160, 208, 212, 0.842);
    color: rgb(66, 65, 65);
    padding-left: 11px;/* agrando el button hacia la izquierda  */
    padding-right: 11px; /* agrando el button hacia la derecha */
    padding-top: 6px; /*agrando el button hacia arriba  */
    padding-bottom: 6px; /* agrando el button hacia abajo */
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) /* creo una sombra en el button */
}
.home{
  margin-top: 10%;
}
.home:hover{
  color: white;
}

.ejemplo{
  color: rgba(0, 255, 255, 0);
  font-size: 10px;
}

.titulo{
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 30px;
    font-size: 40px ;
    color: rgb(101, 112, 235);
    font-family: 'Cookie', cursive;
  }

  .box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
   }

  .formulario{
    margin-top: 2%;
    padding: 2%;
    padding-left: 8% ;
    padding-right: 8%;
    font-size: 14px; 
    background-position: center center;
    color: rgb(101, 112, 235);
    font-family: 'Cookie', cursive;
    box-shadow: 2px 2px 3px 2px rgb(93, 92, 92);
    background-color: rgb(204, 218, 218);
    border-radius: 15px;
  }

  .formulario input{
    color: rgb(58, 80, 151);
    border-radius: 7px;
  }
  .formulario label{
    font-size: 22px;
  }

  .login{
    margin-top: 2%;
    padding: 2%;
    padding-left: 5% ;
    padding-right: 5%;
    font-size: 14px; 
    background-position: center center;
    color: rgb(101, 112, 235);
    font-family: 'Cookie', cursive;
    box-shadow: 2px 2px 3px 2px rgb(93, 92, 92);
    background-color: rgb(204, 218, 218);
    border-radius: 15px;
  }

  .login input{
    color: rgb(58, 80, 151);
    border-radius: 7px;
  }
  .login label{
    font-size: 22px;
  }

  .btn{
    padding-left: 25px;/* agrando el button hacia la izquierda  */
    padding-right: 25px; /* agrando el button hacia la derecha */
    padding-top: 5px; /*agrando el button hacia arriba  */
    padding-bottom: 5px; /* agrando el button hacia abajo */
    border: none;
    border-radius: 15px;
    margin-left: 20% ;
    font-family: 'Cookie', cursive;
    background-color:darkgray;
  }
  

  .btnCreate{
    padding-left: 25px;/* agrando el button hacia la izquierda  */
    padding-right: 25px; /* agrando el button hacia la derecha */
    padding-top: 5px; /*agrando el button hacia arriba  */
    padding-bottom: 5px; /* agrando el button hacia abajo */
    border: none;
    border-radius: 15px;
    /* margin-left: 20% ; */
    font-family: 'Cookie', cursive;
    background-color: rgba(41, 74, 219, 0.842);
    color: black;
    cursor: pointer;
  }

  

  .btnCreate:hover{
    padding-top: 7px; /*agrando el button hacia arriba  */
    padding-bottom: 7px; /* agrando el button hacia abajo */
    border-radius: 20px;
    background-color:rgb(138, 208, 236);
    color:white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) /* creo una sombra en el button */
  }
  .register{
    position:static ;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: black;
    font-family: 'Cookie', cursive;
}

.register:hover{
  color: rgb(101, 112, 235);
}



@media screen and (max-width: 1400px) {
  .center {
      margin-top: 7%;
  }
}
@media screen and (max-width: 1000px) {
  .center {
      margin-top: 8%;
  }
}
@media screen and (max-width: 700px) {
  .center {
    margin-top: 12%;
  }
}
@media screen and (max-width: 500px) {
  .center {
    margin-top: 15%;
  }
}



  @media screen and (max-width: 1000px) {
    .titulo {
        margin-top: 3%;
        margin-bottom: 2%;
        font-size: 40px;
    }
}
@media screen and (max-width: 700px) {
    .titulo {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 30px;
    }
}
@media screen and (max-width: 500px) {
    .titulo {
        margin-top: 6%;
        margin-bottom: 5%;
        font-size: 2rem;
    }
}




@media screen and (max-width: 500px) {
  .formulario{
    padding-left: 5% ;
    padding-right: 5%;
  }
}



@media screen and (max-width: 700px) {
  .login {
    padding-left: 5% ;
    padding-right: 5%;
  }
}
@media screen and (max-width: 500px) {
  .login {
    padding-left: 0% ;
    padding-right: 0%;
  }
}